{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
        <script src="{% static 'scripts/main.js' %}" defer></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <title>FLC - {% block title %}{% endblock %}</title> 
    </head>
    <body >
        <div class="headerimg" style="background-color: #02425d;">
            <img style="height: 150px; width: 150px; background-color: #02425d;" src="https://i.postimg.cc/bJVZvSn0/Logo-1.png" alt="Freesource Library Logo" />
            <span>
                <span>
                    <h2 class="title is-pulled-right" style="font-size: 120px;"><span class="green">Free Resources</span> for life!!!</h2>
                </span>
                
            </span>
        </div>
        <nav class="navbar is-white" style="color: #02425d; border: 1px solid #02425d;" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" style="color:#f17501; font-weight: bold;" href="/">Freesource Library Collective</a>
                <a style="color:#02425d" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu navbar-end">
                <a class="navbar-item" style="color:#02425d" href="/about">About</a>
            </div>
            <div class="navbar-menu navbar-end">
                <a class="navbar-item" style="color:#02425d" href="/resources">Resources</a>
            </div>
            {% if user.is_authenticated %}
                    <div class="navbar-menu navbar-end">
                        <a class="navbar-item" style="color:#02425d" href="{% url 'list_list' %}">Resource Lists</a>
                    </div>
                    <div class="navbar-menu navbar-end">
                        <span class="navbar-item" style="color:#378846; font-weight: bolder;">Welcome:<span style="color:#f17501; font-weight: bold;">{{user.username}}</span>
                        {% if user.is_superuser %}
                                <a class="navbar-item" style="color:#02425d" href="https://freesource-library-collective.herokuapp.com/admin/">Admin</a>
                        {% endif %}
                        <a class="navbar-item" style="color:#02425d" href="{% url 'logout' %}">Logout</a>
                    </div>
                {% else %}
                    <div class="navbar-menu navbar-end">
                        <a class="navbar-item" style="color:#02425d" href="{% url 'login' %}">Log In</a>
                    </div>
                    <div class="navbar-menu navbar-end">
                        <a class="navbar-item" style="color:#02425d" href="{% url 'register' %}">Register</a>
                    </div>
                {% endif %}
                
        </nav>
        <div class="container">

            {% block content %}{% endblock %}

        </div>
      </div>
    </div>
  </body>
</html>