{% extends 'base.html' %} 
{% block content %}
<div>
    <img src="{{resource.img}}" alt="{{resource.name}}" />
</div>
<!-- <div class="detail__name">
    {% if resource.verified_resource %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Verified</span>
    </div>
    {% endif %} -->
    <h1{{resource.name}}</h1>
</div>
<div>
    <div>
        <a href="{% url 'resource_update' resource.pk %}">
            <span>
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'resource_delete' resource.pk %}">
            <span>
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <!-- <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{resource.bio}}</p>
    </div> -->
</div>

{% endblock %}